@model CharacterViewModel

<h1>Create Character</h1>

<hr />

<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-header">
                <h5>Create a new Character</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Character" asp-action="CreateCharacter" method="post">
                    <div class="mb-3">
                        <label class="form-label">Character Name</label>
                        <input asp-for="Name" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Player Name</label>
                        <input asp-for="Player" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Class</label>
                        <input asp-for="Class" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Level</label>
                        <input asp-for="Level" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Strength</label>
                        <input asp-for="Strength" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Dexterity</label>
                        <input asp-for="Dexterity" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Constitution</label>
                        <input asp-for="Constitution" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Intelligence</label>
                        <input asp-for="Intelligence" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Wisdom</label>
                        <input asp-for="Wisdom" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Charisma</label>
                        <input asp-for="Charisma" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>